body{
    background-color: #132032;
    color: #F1F7ED;
}
.navigation{
    background-color: #DC0433;
}
.logo img{
    justify-content: flex-start;
    height: 75px;
    padding-left: 30%;
    padding-bottom: 1%;
}
.navBar{
    height: 90px;
}
.navTabs{
    padding-top: 37px;
    padding-right: 5%;
}
.nav-link{
    background-color: black;
    color: #F1F7ED;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.active{
    font-weight: bold;
}
.container{
    padding-top: 25px;
}
.display-4{
    padding-bottom: 25px;
    font-family: 'Playfair Display', serif;
    border-bottom: thin solid #DC0433;
    border-width: 2px;
}
.lead{
    font-family: 'Spartan', sans-serif;
}
.hero{
    padding-bottom: 25px;
}
.featurette-divider{
    background-color: #DC0433;
}
hr:not([size]) {
    height: 5px;
}
.text-muted{
    color: #DC0433!important;
    opacity: 75%!important;
}
.protoPersona{
    margin-left: 5%;
}
.phase1{
    margin-left: 3%;
    font-family: 'Playfair Display', serif;  
}
.researchSection .lead{
    padding-left: 10%;
    padding-top: 20px;
}
.protoImg img{
    height: 350px;
    width: 750px;
}
.contentHer{
    display: flex;
    margin-right: 10%;

}
.interviews img{
    height: 300px;
    padding-top: 20px;
    padding-left: 20%;
}
.compAnal{
    margin-left: 5%;
}
.userInt{
    margin-left: 5%;
}
.heuristic{
    margin-left: 10%;
}
.heuristic img{
    height: 300px;
    width: 700px;
}
.competitor img{
    width: 750px;
    height: 300px;
}
.survey{
    margin-left: 10%;
}
.probState{
    display: flex;
    justify-content: center;
}
.problem{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.valueProp{
    display: flex;
    justify-content: center;
}
.lead{
    margin-right: 10%;
}
.card{
    height: 400px;
    margin-left: 10%;
}
.userflow{
    height
}
.lowfi{
    padding: 10px
}
.testing img{
    justify-content: center;
}
.styleGuide{
    display: flex;
    justify-content: center;
}
.hifi{
    display: flex;
    justify-content: center;
}
.col-6 p{
    width: 800;
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  